// -----Media qurey ---

@mixin at-600px {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin at-900px {
  @media (max-width: 900px) {
    @content;
  }
}

// --------------

.Hero-section {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include at-900px() {
    height: 50vh;
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 90vh;
    z-index: -1;
  }
}

.section-drone-flying {
  height: 40vh;
  padding: 1rem 1rem;
  background-color: rgb(66, 65, 65);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  @include at-600px() {
    flex-direction: column;
    height: 60vh;
  }

  .FlyingDrone {
    width: 50%;
  }

  .text-caption {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
}

.section-card {
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #ffffff, #dcdedf);

  hr {
    width: 40%;
    margin: 2rem;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include at-600px() {
      flex-direction: column;
    }
  }
}
