.btn-small {
  margin: 1rem 1rem;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 2px solid #004e92;
  border-radius: 0.4rem;
  cursor: pointer;
  color: white;
  background: linear-gradient(to right, #000428, #004e92);

  &:hover {
    background: linear-gradient(to right, #004e92, #000428);
    color: white;
  }
}
